@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using DataImport.Common.Enums
@model DataImport.Web.Features.Agent.AgentIndex.ViewModel
@inject DataImport.Web.Services.IHtmlHelperService HtmlHelperService

@{
    ViewBag.Title = "Agents";
}

<h2>@ViewBag.Title</h2>
<div class="form-horizontal">
	<div class="col-md-6" style="padding-bottom: 10px;display: flex;align-items: center;">
		@HtmlHelperService.NavigationButton(Html, "Add Agent", "Add")
	</div>
	<div class="col-md-6" id="statusFilter">
	</div>
	
</div>
<table id="tblAgents" class="table table-striped table-hover table-bordered table-responsive" data-filtering="true" data-sorting="true" data-paging="true" data-paging-size="20">
    <thead>
        <tr>
			<th data-filterable="false" data-tooltip="Source">Source</th>
			<th data-filterable="false" data-tooltip="Type">Type</th>
			<th data-type="number" data-filterable="false" data-tooltip="Files">Files</th>
			<th data-type="number" data-filterable="false" data-tooltip="Run Order">Run Order</th>
			<th data-type="date" data-filterable="false" data-format-string="yyyy-MM-ddTHH:mm:ss" data-tooltip="Last Executed">Last Executed</th>
			<th data-tooltip="Enabled" data-type="html" data-name="status">Enabled</th>
			<th class="actions" data-filterable="false" data-sortable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Agents)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.AgentTypeCode</td>
                <td data-type="number">@m.FilesCount</td>
                <td>@m.RunOrder</td>
                <td data-sort-value="@(m.LastExecuted?.ToString("s"))">@(m.LastExecuted?.ToString("yyyy-MM-dd hh:mm tt"))</td>
				<td data-sort-value="@(m.Enabled)">@Html.ActionLink(Convert.ToString(m.Enabled), "ToggleAgentStatus", new { m.Id }, new { title = "Toggle Status", @class = "ajax-submit-link" })</td>
                <td class="actions">
                    @if (m.AgentTypeCode == AgentTypeCodeEnum.Manual)
                    {
                        <a href="@Url.Action("UploadFile",  new { m.Id })" title="Upload"><i class="fas fa-fw fa-upload"></i></a>
                    }
                    <a href="@Url.Action("Edit", new { m.Id })" title="Edit"><i class="fas fa-fw fa-pencil-alt"></i></a>
                    <a href="@Url.Action("Archive", new { m.Id })" title="Archive" class="ajax-submit-link"><i class="fas fa-fw fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(function ($) {
            //The call too footable() detaches the global ajax-submit-link handler from _layout
            // so we have to reattach it.
			$('#tblAgents').footable({
				filtering: {
					enabled: true
				},
				components: {
					filtering: FooTable.StatusFiltering
				}
			}).on('click', '.ajax-submit-link', ajaxPostFromHref);
        });
		
		FooTable.StatusFiltering = FooTable.Filtering.extend({
			construct: function (instance) {
				this._super(instance);
				this.statuses = ['True', 'False'];
				this.def = 'All';
				this.$status = null;
			},
			$create: function () {
				this._super();
				var self = this,
					$form_grp = $('<div/>', { 'class': 'form-group', 'style': 'display: flex;align-items: center;' })
						.append($('<label/>', { 'class': 'control-label', text: 'Enabled', 'style': 'flex: 1; text-align: right;margin-right: 10px;' }))
						.prependTo($('#statusFilter'));

				self.$status = $('<select/>', { 'class': 'form-control' })
					.on('change', { self: self }, self._onStatusDropdownChanged)
					.append($('<option/>', { text: self.def }))
					.appendTo($form_grp);

				$.each(self.statuses, function (i, status) {
					self.$status.append($('<option/>').text(status));
				});
			},
			_onStatusDropdownChanged: function (e) {
				var self = e.data.self,
					selected = $(this).val();
				if (selected !== self.def) {
					self.addFilter('status', selected, ['status']);
				} else {
					self.removeFilter('status');
				}
				self.filter();
			},
			draw: function () {
				this._super();
				var status = this.find('status');
				if (status instanceof FooTable.Filter) {
					this.$status.val(status.query.val());
				} else {
					this.$status.val(this.def);
				}
			}
		});

		
    </script>
	<style>
		.footable-filtering .input-group {
			display: none;
		}
	</style>
}
